!UseLATEX.cmake
!Find*.cmake
!cmake_modules/finders/*
!cmake_modules/*

__pycache__/
*.py[cod]
*$py.class

#directories
/doc/doxygen/*
bin/*
*Doxygen/
.idea/*
*.idea/*
.ipynb_checkpoints/*
[Bb]in/*
[Dd]ebug/*
[Dd]ebugPublic/*
[Rr]elease/*
[Rr]eleases/*
[Oo]bj/*
[Ll]og/*

#CMake files
*CMakeFiles/*
CMakeFiles/*
cmake-*
CMakeCache.txt
[Mm]akefile

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# tex
*.aux
*.log
*.synctex.gz
*.toc

# windows project
*.vcxproj
*.filters
/DartConfiguration.tcl
/test/CMakeFiles/*
/nbc4gpu.sln
*CTestTestfile.cmake
*cmake_install.cmake
*.user
/x64/*
/nbc4gpu-*.dir/*
/nbc4gpu-*.dir/*
/.vs/nbc4gpu/*
build*
